<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournoi</title>
</head>

<body>
    <h1><%= tournament.name%></h1>
    <h2>Participants:</h2>
    <ul>

        <% for(const player of tournament.players) { %>
            <a href="/tournament/<%= tournament.id%>/player/<%= player.id%>"><li><%= player.name%></li></a>
        <% } %>
        
    </ul>
    <a href="/tournament/<%= tournament.id%>/player"><h2>Ajouter un joueur</h2></a>
    <a href="/tournament/<%= tournament.id%>/start"><h2>Démarrer le tournoi</h2></a>
    <h2>Poules:</h2>
    <ul>

        <% for(const pool of tournament.pools) { %>
            <a href="/tournament/<%= tournament.id%>/player/<%= pool.id%>"><li><%= player.name%></li></a>
        <% } %>
        <li>
            <a href="/pool/1">Poule 1</a>
        </li>
        <li>
            <a href="/pool/2">Poule 2</a>
        </li>
    </ul>
    <h2>Tableaux:</h2>
    <ul>
        <li>
            <a href="/bracket/1">Tableau 1</a>
        </li>
        <li>
            <a href="/bracket/2">tableau 2</a>
        </li>
    </ul>
</body>

</html>